    <div id="fotos" class="transitions-enabled">
    <% @fotos.each do |foto| %>
    <div class="box panel panel-default">
        <%= image_tag foto.image.url %>
        <div class="panel-body">
        <%= foto.description %>
        <%= foto.user.email if foto.user %>
        
        
        <%= link_to 'Show', foto %>
        <% if foto.user == current_user %>
        <%= link_to 'Edit', edit_foto_path(foto) %>
        <%= link_to 'Destroy', foto, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
      </div>
    <% end %>
    </div>
  