<h1>7otos Listing</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fotos.each do |foto| %>
      <tr>
        <td><%= image_tag foto.image.url %></td>
        <td><%= foto.description %></td>
        <td><%= foto.user.email if foto.user %></td>
        
        
        <td><%= link_to 'Show', foto %></td>
        <% if foto.user == current_user %>
        <td><%= link_to 'Edit', edit_foto_path(foto) %></td>
        <td><%= link_to 'Destroy', foto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Foto', new_foto_path %>
<% end %>
