<%= image_tag @foto.image.url %>

<p>
  <strong>Image:</strong>
  <%= @foto.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @foto.description %>
</p>

<% if @foto.user == current_user %>
<%= link_to 'Edit', edit_foto_path(@foto) %> |
<% end %>

<%= link_to 'Back', fotos_path %>
