<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @foto.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @foto.image %>
</p>

<%= link_to 'Edit', edit_foto_path(@foto) %> |
<%= link_to 'Back', fotos_path %>
